html {
	background-color: #ffffff;
	font-family: sans-serif;
}

#navbar {
	margin-left: auto;
	margin-right: auto;
	height: 75px;
	width: 65%;
	background-color: #000000;
	text-decoration: none;
	font-size: 16px;
	text-align: right;
}

#navbar a {
	text-decoration: none;
	color: white;
}

#navbar a:hover {
	color: green;
}

.navbutton {
	height: 50px;
	display: inline-block;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;

}

#content {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 125%;
	margin-bottom: 100px;
	margin-top: 100px;
}


#footer img {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}